
*{
    margin: 0px 8px;
    padding: 0px;
    box-sizing: border-box;

    body{
        font-family: sans-serif;
        
    }
}


.container{
   height: 100vh;
}

.header{
    height: 10%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .headLogo{
        font-size: 3.5vw;
    }

    .headMenu{
        display: flex;
        flex-direction: row;
        font-size: 2.2vw;
        gap: 16px;
    }
}

.main{
    height: 80%;
    display: flex;
    flex-direction: row;

   .mainImg{
       background-image: url('./assets/potraitmimi.jpg');
       width: 50%;
       background-size: contain;
       background-repeat: no-repeat;
       background-position: left center  ;
       
}

   .mainText{
       width: 50%;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;


       .mainText1{
         font-size: 7vw;  
       }

       .mainText2{
           font-size: 4vw;
           
           .red{
               color: crimson;
           }
       }

       .mainText3{
        font-size: 3.5vw;
    }

       .mainText4{
        font-size: 3vw;
    }


   } 
}

.footer{
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 22px;
    justify-content: flex-end;
    margin-right: 12%;

    .footInstagram, .footFacebook, .footTwitter, .footWhatsapp{
        font-size: 46px;
    }
}


@media (max-width: 500px) {
    .header{
        justify-content: center;



        .headLogo{
            font-size: 38px;
        }

        .headMenu{
            display: none;
        }
    }    

    .main{
        flex-direction: column;
        align-items: center;
        justify-content: center;

      .mainImg{
          margin-top: -40px;
          margin-bottom: 20px;
          width: 250px;
          height: 250px;
          background-size: 100%;
          background-position: center;
          border-radius:50%;
          -webkit-border-radius:50%      ;
          -moz-border-radius:50%      ;
          -ms-border-radius:50%      ;
          -o-border-radius:50%      ;
}
      
      .mainText{
          width: 100%;

          .mainText1{
            display: none; 
          }

          .mainText2, .mainText3, .mainText4{
            font-size: 30px;
        }
      }      
    }

    .footer{


        .footInstagram, .footFacebook, .footTwitter, .footWhatsapp{
            font-size: 38px;
            align-items: center;
            justify-content: center;
        }
    }
}
